<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @flat['imageUrl'] %>);">
  <div class="container">
    <h1><%= @flat['name'] %></h1>
    <p>€<%= @flat['price'] %></p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
<%= link_to root_path do %>
  <i class="fas fa-home"></i>
<% end %>
